/* START CSS REST*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END CSS REST*/


/* NAVIGATION */
.top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.logo {
  
  display:inline;

  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;


}
ul li {
  
  display:inline;
  margin: 10px 60px 10px 10px;
}

.button-contact {
  width: 130px;
  height: 30px;
  top: 75px;
  left: 1050px;
  border-radius: 20px;
  border: 1px;
  
}
/* END NAVIGATION */
.title-wrapper {
  border:1px solid aqua;
  width: 1097px;
  height: 692px;
  top: 75px;
  left: 91px;
  border-radius: 20px;
  border: 1px;
}
.title-wrapper h1 {
  width: 1097px;
  height: 119px;
  top: 196px;
  left: 91px;
  font-family: Inter;
  font-size: 98px;
  font-weight: 500;
  line-height: 119px;
  letter-spacing: 0em;
  text-align: left;
  color:#494A49;
}
.title-wrapper img {
  width: 100%;
  max-width: 1080px;
  height: 290px;
  top: 375px;
  left: 100px;
  border-radius: 20px;
  object-fit: contain;

}
.title-wrapper p {
  
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color:#494A49;
  ;
}

.intro-wrapper {
  align-items: baseline;
}

.button-getstarted {
  width: 180px;
  height: 30px;
  top: 725px;
  left: 1002px;
  border-radius: 20px;
  border: 1px;
  margin-left: 1002px;

}